<!DOCTYPE HTML>

<html>
	<head>
		<title>Hello there {{email}}</title>
    <style>
      body {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      p, button {
        font-size: 20px;
        margin-top: 20px;
      }
      p span {
        color: blue;
      }
    </style>
	</head>
	<body>
		<p>
      Welcome to your personal page,
      <span>{{email}}</span>.
    </p>
		<a href="/">
			<button>Home</button>
		</a>
	</body>
</html>